{{outlet}}
<h1>Custom Food</h1>
<form>
  {{input type='text' value=this.foodName placeholder="Name of Food"}}
  {{input type="textarea" value = this.customDesc}}>
  {{input type='number' value=this.custom.servingSizeG}}
  {{input type="number" value=this.customCalPServing}}

  <button type='submit' {{action 'customFood'}}>
  Add Food
  </button>

</form>

