<h1 class="section-heading">Day Plan</h1>

<!-- test button for needs: 'food'
<button {{action 'fireFoodController'}}>
  test button in dayPlan
</button>
-->

{{!-- @@@@@@ Select Date @@@@@@@@ --}}

<form>
  <div class="showDate">
    {{this.date}}
  </div>

  {{input type="date" value=this.date action="selectDate" id="day-plan-date"}}
  <button {{action 'loadDayPlan'}}>
    Load Meals
  </button>


{{!-- @@@@@@ Select Meal Nav @@@@@@@@ --}}
<div class="meal-type nav">

  <button value=model.breakfast
    {{action 'pickBreakfast' }}>
    Breakfast
  </button>

  <button value=model.snack1
    {{action 'pickSnack1' }}>
    Snack 1
  </button>

  <button value=model.lunch
    {{action 'pickLunch' }}>
    Lunch
  </button>

  <button value=model.snack2
    {{action 'pickSnack2' }}>
    Snack 2
  </button>

  <button value=model.dinner
    {{action 'pickDinner' }}>
    Dinner
  </button>

  <button value=model.other
    {{action 'pickOther' }}>
    Other
  </button>

</div><!-- .meal-type .nav -->


  {{!-- @@@ Meal Category Select Below @@@@ --}}

  <h2 class="food-category-heading">
    Add Food Item
  </h2>

  <button class="food-cat-button" {{action 'selectVeggie' class="veggieButton" }} >
    <span class="veggie-button">Veggie</span>
  </button>

  <button class="food-cat-button" {{action 'selectProtein'}} >
    <span class="protein-button">Protein</span>
  </button>

  <button class="food-cat-button" {{action 'selectCarb'}} >
    <span class="carb-button">Carb</span>
  </button>

  <button class="food-cat-button" {{action 'selectFruit'}} >
    <span class="fruit-button">Fruit</span>
  </button>

  <button class="food-cat-button" {{action 'selectDairy'}} >
    <span class="dairy-button">Dairy</span>
  </button>

  <button class="food-cat-button" {{action 'selectOther'}} >
    <span class="other-button">Other</span>
  </button>

<!--@@@@@@@@@@@ Outlets @@@@@@@@@@@@@@@@-->



{{outlet}}

{{outlet 'selectFood'}}
{{outlet 'veggies'}}
{{outlet 'protein'}}
{{outlet 'meal'}}

<h1 class="selected-meal"> {{selectedMealDisplay}}</h1>

<ul>
{{#each item in this.dayPlanSelectedFoods}}
  <li>
    {{input type='number' min="0" step="0.25" value=item.amt}}
    {{input type='select' content=dayPlanAmtUnit value=item.amtUnit}}
    {{item.name}}

  </li>
{{/each}}
</ul>

  <button type="submit" {{action 'createMeal'}} >
    Save Meal
  </button>

</form>



