<div id="page-wrap">
{{log model}}

<!--
<h1 class="section-header">Day Plan</h1>
-->


{{!-- @@@@@@ Select Date @@@@@@@@ --}}

<form>
  <div class="showDate">
    <h2 class="section-header">
      Choose Date
    </h2>
  </div>

<div class="divider">
{{date-picker date=mydate valueFormat='YYYY-MM-DD' format='MMMM Do YYYY'}}

  {{#link-to 'dayPlan' mydate}}
    <button>Load Meals</button>
  {{/link-to}}
</div>

<hr class="section-divide section-divide-load" />


{{!-- @@@@@@ Select Meal Nav @@@@@@@@ --}}
    <h2 class="section-header heading-meal">
      Choose Meal
    </h2>

    <button type="submit" class="save-meal-button"
    {{action 'createMeal'}} >
    Save Meal
    </button>

<div class="show-all-button"
    {{action 'showAllMeals' }} >

</div>

<div class="meal-type nav">
    <button class=
"meal-cat-btn js-breakfast-btn"
      {{action 'pickBreakfast' }}>
      Breakfast
    </button>

  <button class="meal-cat-btn js-snack1-btn"
    {{action 'pickSnack1' }}>
    Snack 1
  </button>

  <button class="meal-cat-btn js-lunch-btn"
    {{action 'pickLunch' }}>
    Lunch
  </button>

  <button class="meal-cat-btn js-snack2-btn"
    {{action 'pickSnack2' }}>
    Snack 2
  </button>

  <button class="meal-cat-btn js-dinner-btn"
    {{action 'pickDinner' }}>
    Dinner
  </button>

  <button class="meal-cat-btn js-other-btn"
    {{action 'pickOther' }}>
    Other
  </button>

</div><!-- .meal-type .nav -->

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      Meals
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

<div
  {{ bind-attr class=":container isShowingBreakfast:show-breakfast:hide-breakfast" }}
>

  <h1 class="selected-meal section-header sub-heading sub-heading-meal">
    Breakfast
  </h1>

<!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">


  <ul class="meal-ul">
{{#each item in model.breakfast}}
    <li>
      <button class="delete-food-button delete-food meal-food-delete block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}

      {{view "select" class="amt-unit food-line block1" content=this.amtUnit value=item.amtUnit}}

      <p class="meal-text block5 omega">{{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
      </p>


      <!-- Future Feature

      <p class="block1 cal table-text">260
      </p>

      <p class="block1 carb table-text">12
      </p>

      <p class="block1 prot table-text">260
      </p>

      <p class="block1 fat table-text">11.2
      </p>

      <p class="block1 sod table-text">125
      </p>

      <p class="block1 fib table-text neat-last">3
      </p>

      End Future Feature-->

    </li>
{{/each}}
  </ul>

<!-- Future Feature

  <p class="gap block3"> </p>
  <p class="total block3">Meal Total</p>

-->

</div>

<!--  Snack 1 -->

<div
  {{ bind-attr class=":container isShowingSnack1:show-snack1:hide-snack1" }}
>
  <h1 class="selected-meal section-header sub-heading sub-heading-meal"> Snack 1</h1>

  <!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">

  <ul class="meal-ul">
  {{#each item in model.snack1}}
    <li>
      <button class="delete-food-button delete-food block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}
      {{view "select" class="amt-unit food-line block1" content=this.amtUnit value=item.amtUnit}}

    <p class="meal-text block5">
      {{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
    </p>

    </li>

  {{/each}}

  </ul>
</div><!-- .hide/show-snack1 -->

<div
  {{ bind-attr class=":container isShowingLunch:show-lunch:hide-lunch" }} >
  <h1 class="selected-meal section-header sub-heading sub-heading-meal">
  Lunch</h1>

  <!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">

  <ul>
  {{#each item in model.lunch}}
    <li>
      <button class="delete-food-button delete-food block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit class="block1"}}

      <p class="meal-text block5">
        {{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
    </p>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-lunch -->

<div
  {{ bind-attr class=":container isShowingSnack2:show-snack2:hide-snack2" }} >
  <h1 class="selected-meal section-header sub-heading sub-heading-meal">
  Snack2</h1>

  <!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">

  <ul>
  {{#each item in model.snack2}}
    <li>
      <button class="delete-food-button delete-food block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}
      {{view "select" class="amt-unit food-line block1" content=this.amtUnit value=item.amtUnit}}

    <p class="meal-text block5">
      {{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
    </p>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-snack2 -->

<div
  {{ bind-attr class=":container isShowingDinner:show-dinner:hide-dinner" }} >

  <h1 class="selected-meal section-header sub-heading sub-heading-meal">
  Dinner</h1>

<!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">

  <ul>
  {{#each item in model.dinner}}
    <li>
      <button class="delete-food-button delete-food block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}
      {{view "select" class="amt-unit food-line block1" content=this.amtUnit value=item.amtUnit}}

   <p class="meal-text block5">
    {{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
  </p>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-dinner -->

<div
  {{ bind-attr class=":container isShowingOtherMeal:show-other:hide-other" }}
>
  <h1 class="selected-meal section-header sub-heading sub-heading-meal">
  Other</h1>

  <!--  Begin Headings -->
    <p class="block1 heading" >del</p>
    <p class="block1 heading">amt</p>
    <p class="block1 heading">unit</p>
    <p class="block5 heading name omega">Name - <span class='description'>Description</span></p>

    <!-- Future Feature
    <p class="block1 heading extra cal">cal</p>
    <p class="block1 heading extra">carb/g</p>
    <p class="block1 heading extra">prot/g</p>
    <p class="block1 heading extra">fat/g</p>
    <p class="block1 heading extra">sod/mg</p>
    <p class="block1 heading extra omega">fib/g</p>

    -->

    <hr class="line block12 heading">

  <ul>
  {{#each item in model.other}}
    <li>
      <button class="delete-food-button delete-food block1" {{action 'deleteFood' item}}>
      X
      </button>

      {{input type='number' min="0" step="0.25" value=item.amt class="block1"}}
      {{view "select" class="amt-unit food-line block1" content=this.amtUnit value=item.amtUnit}}

   <p class="meal-text block5">
    {{item.name}} -
        <span class="food-desc">{{item.foodDesc}}</span>
  </p>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-other -->

<hr class="section-divide section-divide-save" />

  {{!-- @@@ Meal Category Select Below @@@@ --}}
  <div class="food-nav-wrap">

  <h2 class="section-header heading-food food-category-heading">
    Add Food
  </h2>

  <button type="submit" class="save-meal-button"
    {{action 'createMeal'}} >
    Save Meals
  </button>

  <div class="divider">
  </div>

{{!  'selectVeggie'}}
  <button class="food-cat-btn js-veggie-btn" {{action 'selectVeggie' class="veggieButton" value=isShowing }} >
    <span class="veggie-button">Veggie</span>
  </button>

  <button class="food-cat-btn js-protein-btn" {{action 'selectProtein'}} >
    <span class="protein-button">Protein</span>
  </button>

  <button class="food-cat-btn js-carb-btn" {{action 'selectCarb'}} >
    <span class="carb-button">Carb</span>
  </button>

  <button class="food-cat-btn js-fruit-btn" {{action 'selectFruit'}} >
    <span class="fruit-button">Fruit</span>
  </button>

  <button class="food-cat-btn js-dairy-btn" {{action 'selectDairy'}} >
    <span class="dairy-button">Dairy</span>
  </button>

  <button class="food-cat-btn js-other-food-btn" {{action 'selectOther'}} >
    <span class="other-button">Other</span>
  </button>

  </div> <!-- .food-nav-wrap -->

<!--@@@@@@@@@ Outlets @@@@@@@@@@@@-->

{{outlet}}

<div
{{ bind-attr class="isShowingVeggies:show-veggies:hide-veggies" }}>
  {{outlet 'veggies'}}
</div>

<div
  {{ bind-attr class="isShowingProtein:show-protein:hide-protein" }} >
  {{outlet 'protein'}}
</div>

<div
  {{ bind-attr class="isShowingCarb:show-carb:hide-carb" }} >
  {{outlet 'carb'}}
</div>

<div
  {{ bind-attr class="isShowingFruit:show-fruit:hide-fruit" }} >
  {{outlet 'fruit'}}
</div>

<div
  {{ bind-attr class="isShowingDairy:show-dairy:hide-dairy" }} >
  {{outlet 'dairy'}}
</div>

<div
  {{ bind-attr class="isShowingOther:show-other:hide-other" }} >
  {{outlet 'other'}}
</div>

{{outlet 'meal'}}


</form>

</div><!-- .page-wrap -->

