<div id="page-wrap">
{{log model}}

<!--
<h1 class="section-heading">Day Plan</h1>
-->


{{!-- @@@@@@ Select Date @@@@@@@@ --}}

<form>
  <div class="showDate">
    <h2 class="section-header">
      Choose Date
    </h2>
  </div>

{{date-picker date=mydate valueFormat='YYYY-MM-DD' format='MM-DD-YYYY'}}

  <button {{action 'createMeal'}}>
    Load Meals
  </button>


{{!-- @@@@@@ Select Meal Nav @@@@@@@@ --}}
<h2 class="section-header">
      Choose Meal
    </h2>

<div class="meal-type nav">


    <button
      {{action 'pickBreakfast' }}>
      Breakfast
    </button>

  <button
    {{action 'pickSnack1' }}>
    Snack 1
  </button>

  <button
    {{action 'pickLunch' }}>
    Lunch
  </button>

  <button
    {{action 'pickSnack2' }}>
    Snack 2
  </button>

  <button
    {{action 'pickDinner' }}>
    Dinner
  </button>

  <button
    {{action 'pickOther' }}>
    Other
  </button>

</div><!-- .meal-type .nav -->


  {{!-- @@@ Meal Category Select Below @@@@ --}}

  <h2 class="food-category-heading">
    Add Food
  </h2>

{{!  'selectVeggie'}}
  <button class="food-cat-button" {{action 'selectVeggie' class="veggieButton" value=isShowing }} >
    <span class="veggie-button">Veggie</span>
  </button>

  <button class="food-cat-button" {{action 'selectProtein'}} >
    <span class="protein-button">Protein</span>
  </button>

  <button class="food-cat-button" {{action 'selectCarb'}} >
    <span class="carb-button">Carb</span>
  </button>

  <button class="food-cat-button" {{action 'selectFruit'}} >
    <span class="fruit-button">Fruit</span>
  </button>

  <button class="food-cat-button" {{action 'selectDairy'}} >
    <span class="dairy-button">Dairy</span>
  </button>

  <button class="food-cat-button" {{action 'selectOther'}} >
    <span class="other-button">Other</span>
  </button>

<!--@@@@@@@@@@@ Outlets @@@@@@@@@@@@@@@@-->

{{outlet}}

<div
{{ bind-attr class="isShowingVeggies:show-veggies:hide-veggies" }}>
  {{outlet 'veggies'}}
</div>

<div
  {{ bind-attr class="isShowingProtein:show-protein:hide-protein" }} >
  {{outlet 'protein'}}
</div>

<div
  {{ bind-attr class="isShowingCarb:show-carb:hide-carb" }} >
  {{outlet 'carb'}}
</div>

<div
  {{ bind-attr class="isShowingFruit:show-fruit:hide-fruit" }} >
  {{outlet 'fruit'}}
</div>

<div
  {{ bind-attr class="isShowingDairy:show-dairy:hide-dairy" }} >
  {{outlet 'dairy'}}
</div>

<div
  {{ bind-attr class="isShowingOther:show-other:hide-other" }} >
  {{outlet 'other'}}
</div>

{{outlet 'meal'}}

<div
  {{ bind-attr class="isShowingBreakfast:show-breakfast:hide-breakfast" }}
>

  <h1 class="selected-meal">
    Breakfast
  </h1>

<ul>
{{#each item in model.breakfast}}
  <li>
    {{input type='number' min="0" step="0.25" value=item.amt}}
    {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
    {{item.name}}

    <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
    X
    </button>

  </li>
{{/each}}
</ul>

</div>


<div
  {{ bind-attr class="isShowingSnack1:show-snack1:hide-snack1" }}
>
  <h1 class="selected-meal"> Snack 1</h1>

  <ul>
  {{#each item in model.snack1}}
    <li>
      {{input type='number' min="0" step="0.25" value=item.amt}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
      {{item.name}}

      <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
      X
      </button>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-snack1 -->

<div
  {{ bind-attr class="isShowingLunch:show-lunch:hide-lunch" }} >
  <h1 class="selected-meal">
  Lunch</h1>

  <ul>
  {{#each item in model.lunch}}
    <li>
      {{input type='number' min="0" step="0.25" value=item.amt}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
      {{item.name}}

      <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
      X
      </button>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-lunch -->

<div
  {{ bind-attr class="isShowingSnack2:show-snack2:hide-snack2" }} >
  <h1 class="selected-meal">
  Snack2</h1>

  <ul>
  {{#each item in model.snack2}}
    <li>
      {{input type='number' min="0" step="0.25" value=item.amt}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
      {{item.name}}

      <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
      X
      </button>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-snack2 -->

<div
  {{ bind-attr class="isShowingDinner:show-dinner:hide-dinner" }} >
  <h1 class="selected-meal">
  Dinner</h1>

  <ul>
  {{#each item in model.dinner}}
    <li>
      {{input type='number' min="0" step="0.25" value=item.amt}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
      {{item.name}}

      <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
      X
      </button>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-dinner -->

<div
  {{ bind-attr class="isShowingOtherMeal:show-other:hide-other" }}
>
  <h1 class="selected-meal">
  Other</h1>

  <ul>
  {{#each item in model.other}}
    <li>
      {{input type='number' min="0" step="0.25" value=item.amt}}
      {{view "select" class="amt-unit food-line" content=this.amtUnit value=item.amtUnit}}
      {{item.name}}

      <button class="delete-food-button delete-food" {{action 'deleteFood' item}}>
      X
      </button>

    </li>
  {{/each}}
  </ul>
</div><!-- .hide/show-other -->


  <button type="submit" {{action 'createMeal'}} >
    Save Meal
  </button>

</form>

</div><!-- .page-wrap -->

