
{{outlet}}

<div class="section-wrap">
  <h1 class="section-header">
    Protein
  </h1>

  <!-- @@@@@@@@@@@@@@@@@@@
      headings
@@@@@@@@@@@@@@@@@@@@@@@@@@-->



<ul>
{{#each foodController in model itemController="food" }}
<form>
  <li>

  <div class="food-item-div">

    <button class="add-food-button add-food food-line text-align-right" {{action 'addFood' }}>
      +
    </button>

    {{input type="number" class="amt-input food-line" name="Amt" value=foodController.selectedAmt min="0" step="0.25"}}


    {{view "select"
    class="amt-unit food-line" content=foodController.amtUnit value=foodController.selectedAmtUnit }}

    <p class="veggie-item food-item food-line" {{action 'showDetails' on="click" value=foodController.model.name}} >
      {{foodController.model.foodName}}
    </p>

  </div><!-- .food-item-div -->

    </li>
  </form>

    {{/each}}
  </ul>





</div><!-- .section-wrap -->
