{{outlet}}

<form {{action 'register' on="submit"}}>
  <fieldset>

    <div class="reg-form">

      {{input type="text" name="email" placeholder="Email Address" value=model.email required=true}}
      {{input type="password" name="password" placeholder="Choose Password" value=model.password required=true}}

      <!--
      {{input type="text" name="firstName" placeholder="First Name" value=model.firstName required=true}}
      {{input type="text" name="lastName" placeholder="Last Name" value=model.lastName required=true}}
      {{input type="text" name="address" placeholder="Address" value=model.address required=true}}
      {{input type="text" name="city" placeholder="City" value=model.city required=true}}
      {{input type="text" name="zipCode" placeholder="Zip Code" value=model.zipCode required=true}}
      {{input type="text" name="state" placeholder="State" value=model.state required=true}}
      {{input type="text" name="phone" placeholder="Phone Number" value=model.phone required=true}}
      -->


    <div class="reg-button">
      <button class="reg-button" {{action "save"}}>Submit</button>
    </div>
  </div>
  </fieldset>
</form>
