{{outlet}}

<form {{action 'register' on="submit"}}>

    <div class="reg-form">

      {{input type="email" name="email" placeholder="Email Address" value=username required=true}}
      {{input type="password" name="password" placeholder="Choose Password" value=password required=true}}


      {{input type="text" name="firstName" placeholder="First Name" value=firstName required=true}}
      {{input type="text" name="lastName" placeholder="Last Name" value=lastName required=true}}


    <div class="reg-button">
      <button class="reg-button">Submit</button>
    </div>
  </div>

</form>
