{{outlet}}

<form {{action 'register' on="submit"}}>

  <div class="form-group reg-form">
     <h2 class="heading login-heading">Registration</h2>

     <div class="email-wrap">
      <label for="username" class="control-label">Email</label>

      {{input type="email" name="email" placeholder="Email Address" value=username required=true}}
    </div><!-- .email-wrap -->

    <div class="password-wrap">
      <label for="password" class="control-label">Password</label>

      {{input type="password" name="password"
      placeholder="Enter a Password" value=password class="form-control password-input" required=true}}

    </div><!-- .password-wrap -->

    <div class="first-name-wrap">
      <label for="firstName" class="control-label">First Name</label>
      {{input type="text" name="firstName" placeholder="First Name" value=firstName required=true}}

    </div><!-- .first-name-wrap -->

    <div class="last-name-wrap">
      <label for="lastName" class="control-label">Last Name</label>

      {{input type="text" name="lastName" placeholder="Last Name" value=lastName required=true}}
    </div><!-- .last-name-wrap -->

      <button type="submit" class="btn btn-login">Submit</button>

    <div class="register-link"><h2 class="register-heading">
    Already Registered? Login Below</h2><span class="register-here">
      {{#link-to 'login'}}Login{{/link-to}}
      </span>
    </div>

  </div><!-- .form-group .reg-form -->

</form>
